.boton{
    margin-top: 5px;
    text-align: center;
}
.card {
    border: 3px solid indigo;
    background-color: white;
    border-radius: 5px;
    margin: 5%;
    padding: 2%;
}
#name{
    margin-left: 90px;
}
#last {
    margin-left: 80px;
}
#confirm{
    color:red;
}